/**
- Investigae absolute positioning as an alternative solution
- Hammer JS library for drag elements 
*/

// TEMP DEBUGGING
.select {
  display: none;
}

// NEW
.pulse-video_start {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pulse-video_wrapper {
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  flex: 0 1;
  margin: 16px 8px 16px 16px;
  min-width: 80vw;
  overflow: hidden;
  position: relative;
}

.pulse-video_wrap_inner {
  background-color: #202124;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.pulse-diagnostics-header {
  text-align: center;
  font-weight: 900;
  font-size: large;
}

.pulse-meta_data {
  display: flex;
  flex-flow: row wrap;
  font-weight: 900;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
}

.pulse-meta_data_single {
  display: flex;
  align-items: center;
  font-weight: 900;
}

.pulse-meta_data_single>span {
  padding-left: 5px;
}

.pulse-meta_data_single>img {
  width: 40px;
}

.pulse-video_frame {
  display: block;
  min-height: 30vh;
  background: #607d8b;
  min-width: 50vw;
  aspect-ratio: 500 / 375;
}

video {
  height: calc(100% + 2px);
  left: -1px;
  pointer-events: none;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
  transform: scaleX(-1);
}

.p-icon {
  bottom: 16px;
  left: 16px;
  z-index: 1;
  position: absolute;
  background-color: $red;
  border-radius: 50%;
  color: #fff;
  height: 2.625em;
  width: 2.625em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.p-bpm_text {
  display: none;
  position: absolute;
  bottom: 5px;
}

.pulse-circle {
  cursor: pointer;
  z-index: 9999;
}

.pulse-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.pulse-heart_svg {
  width: 30px;
  height: 30px;
  transform: translate3d(0px, 0px, 0px);
}

.pulse-bpm_counter {
  align-self: flex-end;
}

.pulse-statistics {
  display: none;
  margin: 10px;
}

.pulse-close_icon {
  color: $white;
  background-color: $grey;
  justify-content: flex-end;
  order: 2;
  border-radius: 3rem;
  padding: 2px 8px;
  width: 30px;
}

.pulse-bpm_count {
  color: $black;
  align-self: flex-end;
  margin-bottom: 2px;
  margin-left: 115px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  background: #ffffff94;
  z-index: -1;
}

.pulse-inner_container {
  bottom: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

#expand {
  display: none;
}

// JS check width of video frame to calc w/h of optimal size better state management etc
#expand {
  + .pulse-circle {
    overflow: hidden;
    transition: all 0.3s ease;
  }

  &:checked {
    + .pulse-circle > .pulse-statistics {
      display: flex;
      font-weight: 300;
      color: $dark-grey;
      flex-flow: column wrap;
    }
    + .pulse-circle {
      margin: 0px;
      height: 100%;
      width: 45vw;
      border-radius: 2rem;
      background-color: $white;
      align-items: inherit;
    }
  }
}
