<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pulse | A Web Based Health Diagnostic Tool</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap"
      rel="stylesheet"
    />
    <!-- FLASK ENV VISIBLE -->
    <link rel="stylesheet" href="/static/assets/styles/pulse-style.css" />
    <!-- WEBPACK VISIBLE -->
    <link rel="stylesheet" href="/pulse/static/assets/styles/pulse-style.css" />

  </head>
  <body>
    <div class="container">
      <main>
        <h1>Privacy Page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi iure totam quas earum quisquam alias aspernatur dolorum vitae illo? Veritatis dignissimos aperiam pariatur fugit at eligendi dolor architecto non officia.</p>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/assets/scripts/pulse-app.js"></script>
    <script src="/pulse/static/assets/scripts/pulse-app.js"></script>
  </body>
</html>
